<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Titulo</title>
  </head>
  <body>
   <% for (var i in tshirts) { %>
        <p>

        <%= tshirts[i].price %> ... 

     </p>

   <% } %>
  </body>
</html>